body{
    background-color: blue;
}


a{
    color: white;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-weight: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
    